timer {
	$size: 200px;
	height: $size;
	width: $size;
	margin: 0 auto;
	display: block;
	position: relative;
	.center {
		margin: 0;
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
